#Nav {
  overflow: hidden;
}

#Nav ul {
  list-style: none;
  padding-top: 3  0px;
}

#Nav ul li {
  display: inline;
  margin: 0px 20px 0px 20px;
  font-size: 1.25em;
}

#Nav ul li a {
  color: white;
  text-decoration: none;
}

#Nav a.Icon {
  display: none;
  color: #F0803C;
  font-size: 25px;
}

#Nav .Selected {
  color: #EDF060;
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  #Nav {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  #Nav a {
    display: none;
  }

  #Nav a.Icon {
    float: right;
    margin-right: 20px;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #Nav.Responsive {
    position: relative;
  }

  #Nav.Responsive a.Icon{
    display: block;
    float: right;
  }

  #Nav.Responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}