.App {
  text-align: center;
}

h1 {
  color: white;
}

p {
  color: white;
}

.Navbar {
  grid-area: header;
}

.Content {
  grid-area: main;
}

.Footer {
  grid-area: footer;
  text-align: center;
}

.Footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Grid-container {
  display: grid;
  grid-template-rows: 75px auto 40px;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100vh;
}
