.App {
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

.Mt-0 {
  margin-top: 0;
}

.Mt-50 {
  margin-top: 50px;
}

.Footer a {
  color: #171219;
  text-decoration: none;
  font-weight: bold;
}

.Footer p {
  color: #171219;
  margin-top: 0;
}

.Content {
  grid-area: main;
}

.Footer {
  grid-area: footer;
  text-align: center;
}

.Navbar {
  grid-area: header;
}

.Grid-container {
  display: grid;
  grid-template-rows: auto 40px;
  grid-template-areas: 
    "main"
    "footer";
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .Bounce-container {
    display: none;
  }

  .Navbar {
    grid-area: main;
  }

  .Grid-container {
    display: grid;
    grid-template-rows: auto 40px;
    grid-template-areas:
      "main"
      "footer";
    height: 100vh;
  }
}
